.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  animation: circle 3s linear infinite;
}

@keyframes circle {
  0%{
  top: 0;
  left: 0;
  }

  25%{
  top: 0;
  left: calc(100% - 100px);
  }

  50%{
  left: calc(100% - 100px);
  top: calc(100% - 100px);
  }

  75%{
  left: 0;
  top: calc(100% - 100px);
  }

  100%{
  top: 0;
  left: 0;
  }
}